@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@font-face {
  font-family: 'futura-bold';
  src: url('./fonts/Futura-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.login{
  background: #AAF1F2;
  height: 100vh
}
.login-col{
  background: #ffffff;
  height: 80vh;
  margin-top: 10vh;
  border-radius: 2rem;
}

.login-input{
  width: 60%;
  margin: auto;
  margin-top: 10vh;
  /* border-bottom:"" */
  /* border: 1px solid black; */
  border-radius: 1rem;
}

.login-otp{
  width: 60%;
  margin: auto;
  margin-top: 5vh;
  /* border-bottom:"" */
  /* border: 1px solid black; */
  border-radius: 1rem;
}

.login-card{
  padding: 45px 0px;
}

.card-dashboard{
  margin-top: 3vh;
}

th{
  color: gray
}

.name{
  font-size: 1rem !important;
  padding: 2px !important;
  color: grey
}

.card-teacher {
  width: 100%;
  margin: 1rem;
}
.header-font {
  font-size: 0.6rem;
}

body {
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  /* font-size: 15px; */
  font-size: 1.3rem !important;
  color: #646c9a;
  display: flex;
  flex-direction: column;
}

iframe 
{
 margin: 0px; 
 padding: 0px; 
 height: 90vh; 
 border: none;
}

.card{
  border: 0px solid rgba(0,0,0,.125) !important;
}